{% extends 'base.html.twig' %}

{% block title %}Edit UserAdress{% endblock %}

{% block body %}
    <h1>Edit UserAdress</h1>

    {{ include('user_adress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_adress_index') }}">back to list</a>
{% endblock %}
