{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="products">
    <h2>Our products</h2>
    <div class="categories-container">
        {% for category in categories %}
            {% set categoryImg = "assets/img/" ~ category.img %}
            <div class="category" style="background-image: url('{{asset(categoryImg)}}')">
                <h3>{{category.name}}</h3>
                <a href="{{ path('category_show', {'name' : category.name }) }}">See more</a>
            </div>
        {% else %}
            <div class="category" style="background-color: #1B2631">
                <h3>No category found</h3>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
