{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="products">
    <h2>Our products</h2>
    <div class="category" style="background-image: url('{{asset('assets/img/GameCategory.png')}}')">
        <h3>Category #1</h3>
        <p>Some text...</p>
        <button>Go to</button>
    </div>
</section>
{% endblock %}
