{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="adminLinks">
    <h2><a href="{{ path('category_index') }}">Manage categories</a></h2>
    <h2><a href="{{ path('product_index') }}">Manage products</a></h2>
</section>
{% endblock %}
