@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width : 100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
    background-color: #2E86C1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav a {
    transition: 0.1s linear;
}

header nav a:hover {
    font-size: 1.2rem;
}

section.mainpage {
    width: 100%;
    min-height: 80vh;
}

footer {
    background-color: #1B2631;
    color: white;
    min-height: 10vh;
}

section.products h2 {
    text-align: center;
    margin: 2rem 0;
}

section.products .category, .categoryBanner {
    height: 25vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 2px 2px black;
}