<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shop - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/"><h1>Shop</h1></a>
            <nav>
                <a href="/">
                    <h1>Home</h1>
                </a>
                {% if app.session.get('cart') != null %}
                    <a href="/cart">
                        <h1>My cart</h1>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a href="/admin">
                        <h1>Admin</h1>
                    </a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a href="/user">
                        <h1>Profile</h1>
                    </a>
                    <a href="/logout">
                        <h1>Sign out</h1>
                    </a>
                {% else %}
                    <a href="/login">
                        <h1>Sign in</h1>
                    </a>
                    <a href="/register">
                        <h1>Sign up</h1>
                    </a>
                {% endif %}
            </nav>
        </header>
        <section class="mainpage">
            {% block body %}{% endblock %}
        </section>
        <footer>
            <p>Footer</p>
        </footer>
        {% block scripts %}{% endblock %}
    </body>
</html>
